<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
  <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
  </div>
  <ion-button color="primary" (click)="onLogin()" *ngIf="!isLoading">Login</ion-button>
</ion-content>
